42_USER=
DOMAIN_NAME=

# Certificates
NGINX_CRT=/XXXXXX
NGINX_KEY=/XXXXXX

# SQL Information
SQL_HOST=
SQL_DATABASE=
SQL_USER=
SQL_PASSWORD=
SQL_ROOT_PASSWORD=

WP_TITLE=

# WP Admin 
WP_ADMIN_USER=
WP_ADMIN_PASSWORD=
WP_ADMIN_EMAIL=

# WP User
WP_USER=
WP_USER_PASSWORD=
WP_USER_EMAIL=

# WP Keys and Salts
WP_AUTH_KEY='put your unique phrase here'
WP_SECURE_AUTH_KEY='put your unique phrase here'
WP_LOGGED_IN_KEY='put your unique phrase here'
WP_NONCE_KEY='put your unique phrase here'
WP_AUTH_SALT='put your unique phrase here'
WP_SECURE_AUTH_SALT='put your unique phrase here'
WP_LOGGED_IN_SALT='put your unique phrase here'
WP_NONCE_SALT='put your unique phrase here'
